<h1>Welcome to the Homepage</h1>

<%= link_to 'articles index', articles_path %> <br>
<%= link_to 'About page', about_path %> <br>
<%= link_to 'new article', new_article_path %> <br>
<%= link_to 'sign up', signup_path %> <br>
<%= link_to 'user index',users_path  %> <br>
<%= link_to 'home', root_path %>


